:global(html) {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:global(body) {
  background: #000;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 7px;
}


:global(:root) {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mainDark;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}